body {
    color: crimson;
    background-image: url(wallpaper.png);
}

.title {
    display: block;
    position: relative;
    left: 25.5cm;
    top: 0.8cm;
}

.Descricao {
    display: block;
    position: relative;
    top: 10cm;
    left: 7cm;
}

.Dependencias {
    display: block;
    position: relative;
    left: 38cm;
    top: 4cm;
}

.Status {
    display: block;
    position: relative;
    left: 24.5cm;
    bottom: 2cm;
}

.Volta {
    display: block;
    position: relative;
    bottom: 17cm;
    left: 28.8cm;
    color: blue;
}